html {
  background: #171717;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 2.5rem;
}

.text-sm {
  font-size: 1.5rem;
}

.text-supa {
  color: #21ab73;
}

#vase {
  margin: auto;
  width: 30%;
}

.vase_outer {
  padding: 10rem 0;
}

.flex {
  display: flex;
  align-items: center;
}

.button {
  display: block;
  border-radius: 5px;
  border: 1px solid #414141;
  display: flex;

  padding: 0.5rem;
  margin: auto;
  flex: shrink;
}

.button:hover {
  background-color: #303030;
}

.button > img {
  width: 150px;
  margin: auto;
}
