@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #171717;
    font-family: "Red Hat Display", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }